{# https://github.com/uroybd/topobon/blob/main/src/site/_includes/components/user/common/footer/001-floatingControls.njk #}
<aside id="floating-control">
    <a  id="linkedin" href="https://www.linkedin.com/in/dahee-kim-6aaa5b267/" target="_blank" rel="noopener noreferrer"><i  icon-name="linkedin" title="LinkedIn" aria-hidden="true" class="fa fa-linkedin-square" style="font-size:48px;color:#0077b5"></i></a>
    <a  id="github" href="https://github.com/kimdahee0815" target="_blank" rel="noopener noreferrer"><i  icon-name="github" title="Github" aria-hidden="true" style="font-size:48px;color:#651fff"></i></a>
    <span id="theme-switch">
        <i class="svg-icon light" icon-name="sun" title="Light mode" aria-hidden="true"></i>
        <i class="svg-icon dark" icon-name="moon" title="Dark mode" aria-hidden="true"></i>
        <i class="svg-icon auto" icon-name="sun-moon" title="Auto mode"  aria-hidden="true"></i>
    </span>
</aside>

    
<script>
    function setThemeIcon(theme) {
        let toAdd;
        switch (theme) {
            case 'dark':
                toRemove = ['auto', 'light'];
                break;
            case 'light':
                toAdd = 'fa-adjust';
                toRemove = ['dark', 'auto'];
                break;
            default:
                toRemove = ['light', 'dark'];
                break;
        }
        document.getElementById('theme-switch').classList.add(theme);
        document.getElementById('theme-switch').classList.remove(...toRemove);
    }
    function setTheme(theme, setIcon) {
        const sky = document.getElementById('sky');
        const constellation = document.getElementById('constellation');
        const meteorShower = document.querySelector('.meteorShower');
        const trees = document.getElementById('trees');
        if (setIcon) {
            setThemeIcon(theme);
        }
        if(window.localStorage.getItem('prevTheme')){
            if (theme == 'dark' && (window.localStorage.getItem('prevTheme') == 'auto' || window.localStorage.getItem('prevTheme') == 'light')) {
                document.body.classList.remove('theme-light');
                document.body.classList.add('theme-dark');
                sky.classList.add('nightsky');
                sky.classList.remove('sky');
                constellation.classList.remove('noConstellation');
                constellation.classList.add('constellation');
                meteorShower.classList.remove('noMeteorShower');
                trees.classList.remove('noTrees');
                trees.classList.add('trees');
                initStars();
            } else if (theme == "light" && (window.localStorage.getItem('prevTheme') == 'dark' || window.localStorage.getItem('prevTheme') == 'light')) {
                document.body.classList.add('theme-light');
                document.body.classList.remove('theme-dark');
                sky.classList.add('sky');
                sky.classList.remove('nightsky');
                constellation.classList.add('noConstellation');
                constellation.classList.remove('constellation');
                meteorShower.classList.add('noMeteorShower');
                trees.classList.add('noTrees');
                trees.classList.remove('trees');
            } else if(theme == "auto" && window.localStorage.getItem('prevTheme') == 'light'){
                let today = new Date();
                let todayHours = today.getHours();
                if(today.getMinutes() >= 36){
                    theme = 'dark';
                }else{
                    theme = 'light';
                }
                setTheme(theme, false);
            }
        }
    }

    document.getElementById('theme-switch').addEventListener('click', function() {
        window.localStorage.setItem('prevTheme', window.theme);
        let theme;
        if (window.theme == 'auto') {
            theme = 'dark';
        } else if (window.theme == 'dark') {
            theme = 'light'
        } else {
            theme = 'auto';
        }
        setTheme(theme, true);
        window.localStorage.setItem('site-theme', theme);
        window.theme = theme;
        const event = new Event('themeChanged');
        document.dispatchEvent(event);
    })
</script>