{# https://github.com/uroybd/topobon/blob/main/src/site/_includes/components/user/common/footer/001-floatingControls.njk #}
<aside id="floating-control">
    <a  id="linkedin" href="https://www.linkedin.com/in/dahee-kim-6aaa5b267/" target="_blank" rel="noopener noreferrer"><i  icon-name="linkedin" title="LinkedIn" aria-hidden="true" class="fa fa-linkedin-square" style="font-size:48px;color:#0077b5"></i></a>
    <a  id="github" href="https://github.com/kimdahee0815" target="_blank" rel="noopener noreferrer"><i  icon-name="github" title="Github" aria-hidden="true" style="font-size:48px;color:#651fff"></i></a>
    <span id="theme-switch">
        <i class="svg-icon light" icon-name="sun" title="Light mode" aria-hidden="true"></i>
        <i class="svg-icon dark" icon-name="moon" title="Dark mode" aria-hidden="true"></i>
        <i class="svg-icon auto" icon-name="sun-moon" title="Auto mode"  aria-hidden="true"></i>
    </span>
</aside>

    
<script>
    function setThemeIcon(theme) {
        let toAdd;
        switch (theme) {
            case 'dark':
                toRemove = ['auto', 'light'];
                break;
            case 'light':
                toAdd = 'fa-adjust';
                toRemove = ['dark', 'auto'];
                break;
            default:
                toRemove = ['light', 'dark'];
                break;
        }
        document.getElementById('theme-switch').classList.add(theme);
        document.getElementById('theme-switch').classList.remove(...toRemove);
    }
    function setTheme(theme, setIcon) {
        const nightsky = document.querySelector('.nightsky');
        const constellation = document.querySelector('.constellation');
        const meteorShower = document.querySelector('.meteorShower');
        const trees = document.querySelector('.trees');
        const moon = document.querySelector('.moon');
        if (setIcon) {
            setThemeIcon(theme);
        }
        if (theme == 'dark') {
            document.body.classList.remove('theme-light');
            document.body.classList.add('theme-dark');
            const darkThemeHtmlArr = JSON.parse(window.localStorage.getItem('dark-theme-html'));
            document.body.replaceChildren();
            let darkThemeHtmlStr = "";
            for(let el of darkThemeHtmlArr){
                darkThemeHtmlStr += el.outerHTML;
            }
            document.body.insertAdjacentHTML('afterbegin', darkThemeHtmlStr);
        } else if (theme == "light") {
            document.body.classList.add('theme-light');
            document.body.classList.remove('theme-dark');
            const nightskyChildren = Array.from(nightsky.children);
            const lightThemeElements = nightskyChildren.slice(2, nightskyChildren.length - 1);
            let lightThemeElementsStr = "";
            for(let el of lightThemeElements){
                lightThemeElementsStr += el.outerHTML;
            }
            console.log(JSON.stringify(Array.from(document.body.children)))
            window.localStorage.setItem('dark-theme-html', JSON.stringify(Array.from(document.body.children)));
            document.body.insertAdjacentHTML('afterbegin', lightThemeElementsStr);
            nightsky.remove();
        } else {
            theme = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
            setTheme(theme, false);
        }
        
    }
    setThemeIcon('dark');
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', function(event) {
        const settings = window.localStorage.getItem('site-theme');
        if (!settings || settings == "auto") {
            window.localStorage.setItem('site-theme', "auto");
            setTheme("auto", true);
        }
    });
    document.getElementById('theme-switch').addEventListener('click', function() {
        let theme;
        if (window.theme == 'auto') {
            theme = "dark";
        } else if (window.theme == 'dark') {
            theme = 'light'
        } else {
            theme = 'auto';
        }
        setTheme(theme, true);
        window.localStorage.setItem('site-theme', theme);
        window.theme = theme;
    })
</script>