/* supercharged links */
.data-link-icon[data-link-tags*="daily-overview" i]::before {
    content: "✅ ";
}

.data-link-icon[data-link-tags*="weekly" i]::before {
    content: "☑️ ";
}

.data-link-icon[data-link-tags*="monthly" i]::before {
    content: "📆 ";
}

.data-link-icon[data-link-tags*="yearly" i]::before {
    content: "🎉 ";
}

.data-link-icon[data-link-tags*="myself" i]::before {
    content: "😎 ";
}

.data-link-icon[data-link-tags*="project" i]::before {
    content: "📌 ";
}

.data-link-icon[data-link-tags*="book" i]::before {
    content: "📚 ";
}

.data-link-icon[data-link-tags*="class" i]::before {
    content: "👩🏻‍🏫 ";
}

.data-link-icon[data-link-tags*="developing" i]::before {
    content: "👩🏻‍💻 ";
}

.data-link-icon[data-link-tags*="english" i]::before {
    content: "🎧 ";
}

.data-link-icon[data-link-tags*="#social" i]::before {
    content: "🥳 ";
}

.data-link-icon[data-link-tags*="event" i]::before {
    content: "🎈 ";
}

.data-link-icon[data-link-tags*="#meTime" i]::before {
    content: "💃🏻 ";
}

.data-link-icon[data-link-tags*="#friends" i]::before {
    content: "🙂 ";
}

.data-link-icon[data-link-tags*="#dates" i]::before {
    content: "😍 ";
}

.data-link-icon[data-link-tags*="#family" i]::before {
    content: "👨‍👩‍👧‍👦 ";
}

.data-link-icon[data-link-tags*="#vacation" i]::before {
    content: "🌅 ";
}

.data-link-icon[data-link-tags*="movie" i]::before {
    content: "🎞️ ";
}

.data-link-icon[data-link-tags*="drama" i]::before {
    content: "📺 ";
}

.data-link-icon[data-link-tags*="to-watch" i]::before {
    content: "🍿 ";
}

.data-link-icon[data-link-tags*="meeting" i]::before {
    content: "🤝 ";
}

.data-link-icon[data-link-tags*="music" i]::before {
    content: "🎵 ";
}

.data-link-icon[data-link-tags*="people" i]::before {
    content: "👤 ";
}

.data-link-icon[data-link-tags*="author" i]::before {
    content: "✒️ ";
}

.data-link-icon[data-link-tags*="shadowing" i]::before {
    content: "🗣️ ";
}

.data-link-icon[data-link-tags*="stuff" i]::before {
    content: "🧸 ";
}

.data-link-icon[data-link-tags*="web-surfing" i]::before {
    content: "🖥️ ";
}

.data-link-icon[data-link-tags*="work" i]::before {
    content: "💼 ";
}

.data-link-icon[data-link-tags*="youtube" i]::before {
    content: "🚩 ";
}

.data-link-icon[data-link-tags*="fleeting" i]::before {
    content: "🔖 ";
}

.data-link-icon[data-link-tags*="beauty" i]::before {
    content: "🌹 ";
}

.data-link-icon[data-link-tags*="chores" i]::before {
    content: "✨ ";
}

.data-link-icon[data-link-tags*="daily-drawing" i]::before {
    content: "🖌️ ";
}

.data-link-icon[data-link-tags*="daily-routine" i]::before {
    content: "🔁 ";
}

.data-link-icon[data-link-tags*="diary" i]::before {
    content: "🖋️ ";
}

.data-link-icon[data-link-tags*="diet" i]::before {
    content: "🍽️ ";
}

.data-link-icon[data-link-tags*="dreams" i]::before {
    content: "🔮 ";
}

.data-link-icon[data-link-tags*="drinks" i]::before {
    content: "🥤 ";
}

.data-link-icon[data-link-tags*="health" i]::before {
    content: "💪🏻 ";
}

.data-link-icon[data-link-tags*="meditation" i]::before {
    content: "🧘🏻‍♀️ ";
}

.data-link-icon[data-link-tags*="wants" i]::before {
    content: "❤️‍🔥 ";
}

.data-link-icon[data-link-tags*="needs" i]::before {
    content: "❤️‍🔥 ";
}

.data-link-icon[data-link-tags*="todo-list" i]::before {
    content: "✔️ ";
}

.data-link-icon[data-link-tags*="workout" i]::before {
    content: "🏃🏻‍♀️ ";
}

.data-link-icon[data-link-tags*="affirmation" i]::before {
    content: "💞 ";
}

.data-link-icon[data-link-tags*="arrangingDesk" i]::before {
    content: "✨ ";
}

.data-link-icon[data-link-tags*="bodyScan" i]::before {
    content: "🧍‍♀️ ";
}

.data-link-icon[data-link-tags*="brushHair" i]::before {
    content: "🪮 ";
}

.data-link-icon[data-link-tags*="cleaningHouse" i]::before {
    content: "🧹 ";
}

.data-link-icon[data-link-tags*="coffee" i]::before {
    content: "☕ ";
}

.data-link-icon[data-link-tags*="eveningSkincare" i]::before {
    content: "🧖‍♀️ ";
}

.data-link-icon[data-link-tags*="eyeDrop" i]::before {
    content: "💧 ";
}

.data-link-icon[data-link-tags*="eyeRelief" i]::before {
    content: "🥽 ";
}

.data-link-icon[data-link-tags*="facialMask" i]::before {
    content: "😌 ";
}

.data-link-icon[data-link-tags*="floss" i]::before {
    content: "🪥 ";
}

.data-link-icon[data-link-tags*="footCare" i]::before {
    content: "🦶 ";
}

.data-link-icon[data-link-tags*="gratitude" i]::before {
    content: "💓 ";
}

.data-link-icon[data-link-tags*="morningSkincare" i]::before {
    content: "🧖‍♀️ ";
}

.data-link-icon[data-link-tags*="mToQueen" i]::before {
    content: "🩷 ";
}

.data-link-icon[data-link-tags*="nails" i]::before {
    content: "💅🏻 ";
}

.data-link-icon[data-link-tags*="omega3" i]::before {
    content: "💊 ";
}

.data-link-icon[data-link-tags*="pantotin" i]::before {
    content: "💊 ";
}

.data-link-icon[data-link-tags*="period" i]::before {
    content: "🩸 ";
}

.data-link-icon[data-link-tags*="pleasure" i]::before {
    content: "🙈 ";
}

.data-link-icon[data-link-tags*="poop" i]::before {
    content: "💩 ";
}

.data-link-icon[data-link-tags*="probiotics" i]::before {
    content: "💊 ";
}

.data-link-icon[data-link-tags*="sleep" i]::before {
    content: "🛌 ";
}

.data-link-icon[data-link-tags*="snack" i]::before {
    content: "🍪 ";
}

.data-link-icon[data-link-tags*="stretching" i]::before {
    content: "🤸‍♀️ ";
}

.data-link-icon[data-link-tags*="tea" i]::before {
    content: "🍵 ";
}

.data-link-icon[data-link-tags*="todo-list" i]::before {
    content: "✔️ ";
}

.data-link-icon[data-link-tags*="visualization" i]::before {
    content: "🪄 ";
}

.data-link-icon[data-link-tags*="vitaminB" i]::before {
    content: "🩵 ";
}

.data-link-icon[data-link-tags*="vitaminD" i]::before {
    content: "💛 ";
}

.data-link-icon[data-link-tags*="wantsNeeds" i]::before {
    content: "❤️‍🔥 ";
}

.data-link-icon[data-link-tags*="washingDishes" i]::before {
    content: "🧽 ";
}

.data-link-icon[data-link-tags*="water" i]::before {
    content: "🫗 ";
}

.data-link-icon[data-link-tags*="waxing" i]::before {
    content: "🥰 ";
}

.data-link-icon[data-link-tags*="weight" i]::before {
    content: "🕛 ";
}

.data-link-icon[data-link-tags*="daily-saving" i]::before {
    content: "💰 ";
}

.data-link-icon[data-link-tags*="saving" i]::before {
    content: "💰 ";
}

/* .data-link-icon[data-link-status]:hover::after {
  content: attr(data-link-status);
} */

.data-link-icon[data-link-img^="https" i]:empty {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-img);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}

.data-link-icon[data-link-img^="https" i]:not(:empty)::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-img);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}

/* supercharged links */
a.internal-link[data-link-tags*="daily-overview" i]::before {
    content: "✅ ";
}

a.internal-link[data-link-tags*="weekly" i]::before {
    content: "☑️ ";
}

a.internal-link[data-link-tags*="monthly" i]::before {
    content: "📆 ";
}

a.internal-link[data-link-tags*="yearly" i]::before {
    content: "🎉 ";
}

a.internal-link[data-link-tags*="myself" i]::before {
    content: "😎 ";
}

a.internal-link[data-link-tags*="project" i]::before {
    content: "📌 ";
}

a.internal-link[data-link-tags*="author" i]::before {
    content: "✒️ ";
}

a.internal-link[data-link-tags*="book" i]::before {
    content: "📚 ";
}

a.internal-link[data-link-tags*="class" i]::before {
    content: "👩🏻‍🏫 ";
}

a.internal-link[data-link-tags*="developing" i]::before {
    content: "👩🏻‍💻 ";
}

a.internal-link[data-link-tags*="english-podcast" i]::before {
    content: "🎧 ";
}

a.internal-link[data-link-tags*="#social" i]::before {
    content: "🥳 ";
}

a.internal-link[data-link-tags*="#meTime" i]::before {
    content: "💃🏻 ";
}

a.internal-link[data-link-tags*="#friends" i]::before {
    content: "🙂 ";
}

a.internal-link[data-link-tags*="#dates" i]::before {
    content: "😍 ";
}

a.internal-link[data-link-tags*="#family" i]::before {
    content: "👨‍👩‍👧‍👦 ";
}

a.internal-link[data-link-tags*="#vacation" i]::before {
    content: "🌅 ";
}

a.internal-link[data-link-tags*="movie" i]::before {
    content: "🎞️ ";
}

a.internal-link[data-link-tags*="to-watch" i]::before {
    content: "🍿 ";
}

a.internal-link[data-link-tags*="meeting" i]::before {
    content: "🤝 ";
}

a.internal-link[data-link-tags*="music" i]::before {
    content: "🎵 ";
}

a.internal-link[data-link-tags*="people" i]::before {
    content: "👤 ";
}

a.internal-link[data-link-tags*="shadowing" i]::before {
    content: "🗣️ ";
}

a.internal-link[data-link-tags*="stuff" i]::before {
    content: "🧸 ";
}

a.internal-link[data-link-tags*="web-surfing" i]::before {
    content: "🖥️ ";
}

a.internal-link[data-link-tags*="work" i]::before {
    content: "💼 ";
}

a.internal-link[data-link-tags*="youtube" i]::before {
    content: "🚩 ";
}

a.internal-link[data-link-tags*="fleeting" i]::before {
    content: "🔖 ";
}

a.internal-link[data-link-tags*="saving" i]::before {
    content: "💰 ";
}

a.internal-link[data-link-tags*="daily-saving" i]::before {
    content: "💰 ";
}

/* data-link-icon-after[data-link-status]:hover::after {
content: attr(data-link-status);
} */

a.internal-link[data-link-img^="https" i]:empty::before {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-img);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}

a.internal-link[data-link-img^="https" i]:not(:empty)::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-img);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}
