.data-link-icon[data-link-type~="daily-overview" i]::before {
    content: "✅ ";
}

.data-link-icon[data-link-type~="weekly" i]::before {
    content: "☑️ ";
}

.data-link-icon[data-link-type~="monthly" i]::before {
    content: "📆 ";
}

.data-link-icon[data-link-type~="yearly" i]::before {
    content: "🎉 ";
}

.data-link-icon[data-link-type~="myself" i]::before {
    content: "😎 ";
}

.data-link-icon[data-link-type~="project" i]::before {
    content: "📌 ";
}

.data-link-icon[data-link-type~="author" i]::before {
    content: "✒️ ";
}

.data-link-icon[data-link-type~="book" i]::before {
    content: "📚 ";
}

.data-link-icon[data-link-type~="class" i]::before {
    content: "👩🏻‍🏫 ";
}

.data-link-icon[data-link-type~="developing" i]::before {
    content: "👩🏻‍💻 ";
}

.data-link-icon[data-link-type~="english-podcast" i]::before {
    content: "🎧 ";
}

.data-link-icon[data-link-tags*="#social" i]::before {
    content: "🥳 ";
}

.data-link-icon[data-link-tags*="#meTime" i]::before {
    content: "💃🏻 ";
}

.data-link-icon[data-link-tags*="#friends" i]::before {
    content: "🙂 ";
}

.data-link-icon[data-link-tags*="#dates" i]::before {
    content: "😍 ";
}

.data-link-icon[data-link-tags*="#family" i]::before {
    content: "👨‍👩‍👧‍👦 ";
}

.data-link-icon[data-link-tags*="#vacation" i]::before {
    content: "🌅 ";
}

.data-link-icon[data-link-type~="movie" i]::before {
    content: "🍿 ";
}

.data-link-icon[data-link-tags*="to-watch" i]::before {
    content: "🍿 ";
}

.data-link-icon[data-link-type~="meeting" i]::before {
    content: "🤝 ";
}

.data-link-icon[data-link-type~="music" i]::before {
    content: "🎵 ";
}

.data-link-icon[data-link-type~="people" i]::before {
    content: "🧑‍🤝‍🧑 ";
}

.data-link-icon[data-link-type~="shadowing" i]::before {
    content: "🗣️ ";
}

.data-link-icon[data-link-type~="stuff" i]::before {
    content: "🧸 ";
}

.data-link-icon[data-link-type~="web-surfing" i]::before {
    content: "🖥️ ";
}

.data-link-icon[data-link-type~="work" i]::before {
    content: "💼 ";
}

.data-link-icon[data-link-type~="youtube" i]::before {
    content: "▶️ ";
}

.data-link-icon[data-link-tags*="fleeting" i]::before {
    content: "🔖 ";
}

/* .data-link-icon-after[data-link-status]:hover::after {
    content: attr(data-link-status);
} */

.data-link-icon[data-link-img^="https" i]:empty {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-photo);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}

.data-link-icon[data-link-img^="https" i]:not(:empty)::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-image: var(--data-link-photo);
    background-size: cover;
    box-shadow: 0 1px 4px #0008;
    border-radius: 100%;
    margin: -0.5em 0.2em -0.5em 0;
}
