/* theme-change */
#floating-control {
    color: var(--link-color);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-left:30px;
    .svg-icon,
    i {
        cursor: pointer;
        height: 24px;
        width: auto;
    }
    #theme-switch {
        .light {
            display: none;
        }
        .dark {
            display: none;
        }
        .auto {
            display: none;
        }
    }
    #theme-switch.light {
        .light {
            display: inline;
        }
    }
    #theme-switch.dark {
        .dark {
            display: inline;
        }
    }
    #theme-switch.auto {
        .auto {
            display: inline;
        }
    }
}

@media screen and (min-width: 1400px) {
    #floating-control {
        position: relative;
    }
}

@media screen and (min-width: 1310px) and (max-width: 1400px) {
    #floating-control {
        position: fixed;
        top: 1.5vmax;
        right: 15vmax;
    }
}

@media screen and (max-width: 1339px) {
    #floating-control {
        position: fixed;
        top: 1.6vmax;
        right: 16vmax;
    }
}

@media screen and (max-width: 1246px) {
    #floating-control {
        position: fixed;
        top: 1.6vmax;
        right: 17vmax;
    }
}

@media screen and (max-width: 1160px) {
    #floating-control {
        position: fixed;
        top: 1.7vmax;
        right: 18vmax;
    }
}

@media screen and (max-width: 1100px) {
    #floating-control {
        position: fixed;
        top: 1.8vmax;
        right: 19vmax;
    }
}

@media screen and (max-width: 1060px) {
    #floating-control {
        position: fixed;
        top: 1.9vmax;
        right: 20vmax;
    }
}

@media screen and (max-width: 990px) {
    #floating-control {
        top: 2vmax;
        right: 21vmax;
    }
}

@media screen and (max-width: 940px) {
    #floating-control {
        position: fixed;
        top: 2vmax;
        right: 22vmax;
    }
}

@media screen and (max-width: 900px) {
    #floating-control {
        position: fixed;
        top: 2vmax;
        right: 22.5vmax;
    }
}

@media screen and (max-width: 800px) {
    #floating-control {        
        position: fixed;
        top: 1.4vmax;
        right: 8vmax;
    }
}

@media screen and (max-width: 700px) {
    #floating-control {
        position: fixed;
        top: 1.4vmax;
        right: 9.3vmax;
    }
}

@media screen and (max-width: 570px) {
    #floating-control {
        position: fixed;
        top: 1.4vmax;
        right: 9.8vmax;
    }
}

@media screen and (max-width: 500px) {
    #floating-control {
        display: none;
    }
}
