<script defer src="/_vercel/insights/script.js"></script>
<script defer src="/_vercel/speed-insights/script.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VKQ9WPK4K0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VKQ9WPK4K0');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B8Z75NH7H4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B8Z75NH7H4');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XPHH3JC7H7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XPHH3JC7H7');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2HHH0M01SM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2HHH0M01SM');
</script>