@charset "UTF-8";
@import url("//cdn.jsdelivr.net/gh/TetraTheta/RIDIBatang-subset/dist/style/RIDIBatang-subset-web.css");
/* @settings
name: AnuPpuccin Themes Extended
id: anuppuccin-theme-settings-extended
settings:
  -
    id: anp-theme-ext-light
    title: Toggle extended light theme
    type: class-toggle
  -
    id: anp-theme-ext-dark
    title: Toggle extended dark theme
    type: class-toggle
  -
    id: anp-theme-ext-amoled
    title: Toggle amoled black on all themes
    type: class-toggle
  - 
    id: catppuccin-theme-extended
    title: Light theme flavor
    description: Select your preferred light mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-nord-light
    options:
        - 
            label: Atom
            value: ctp-atom-light
        - 
            label: Everforest
            value: ctp-everforest-light
        - 
            label: Gruvbox
            value: ctp-gruvbox-light
        - 
            label: Material Mint
            value: ctp-material-mint-light
        - 
            label: Luminescence
            value: ctp-luminescence-light
        - 
            label: Nord
            value: ctp-nord-light
        - 
            label: Notion
            value: ctp-notion-light
        - 
            label: Sandy Beaches
            value: ctp-sandy-beaches-light
        - 
            label: Solarized
            value: ctp-solarized-light
  - 
    id: catppuccin-theme-dark-extended
    title: Dark theme flavor
    description: Select your preferred dark mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-nord-dark
    options:
        -
            label: AMOLED Dark
            value: ctp-amoled-dark
        -
            label: Atom
            value: ctp-atom-dark
        -
            label: Coffee
            value: ctp-coffee-dark
        -
            label: Dark (Generic)
            value: ctp-generic-dark
        -
            label: Dracula
            value: ctp-dracula
        -
            label: Everforest
            value: ctp-everforest-dark
        -
            label: Gruvbox
            value: ctp-gruvbox-dark
        -
            label: Kanagawa
            value: ctp-kanagawa-dark
        -
            label: Material Mint
            value: ctp-material-mint-dark
        -
            label: Nord
            value: ctp-nord-dark
        -
            label: Notion
            value: ctp-notion-dark
        -
            label: Nord Dark (Custom palette)
            value: ctp-nord-darker
        -
            label: Rosé Pine
            value: ctp-rosepine-dark
        -
            label: Rosebox
            value: ctp-rosebox
        -
            label: Royal Velvet
            value: ctp-royal-velvet
        -
            label: Solarized
            value: ctp-solarized-dark
*/

body {
    font-family: "RIDIBatang";
    --note-icon-1: url(/img/moon.svg);
    --note-icon-2: url(/img/daily-overview.svg);
    --note-icon-3: url(/img/weekly.svg);
    --note-icon-4: url(/img/monthly.svg);
    --note-icon-5: url(/img/yearly.svg);
    --note-icon-6: url(/img/myself.svg);
    --note-icon-7: url(/img/project.svg);
    --note-icon-8: url(/img/book.svg);
    --note-icon-9: url(/img/class.svg);
    --note-icon-10: url(/img/developing.svg);
    --note-icon-11: url(/img/english.svg);
    --note-icon-12: url(/img/social.svg);
    --note-icon-13: url(/img/event.svg);
    --note-icon-14: url(/img/meTime.svg);
    --note-icon-15: url(/img/friends.svg);
    --note-icon-16: url(/img/dates.svg);
    --note-icon-17: url(/img/family.svg);
    --note-icon-18: url(/img/vacation.svg);
    --note-icon-19: url(/img/movie.svg);
    --note-icon-20: url(/img/drama.svg);
    --note-icon-21: url(/img/to-watch.svg);
    --note-icon-22: url(/img/meeting.svg);
    --note-icon-23: url(/img/music.svg);
    --note-icon-24: url(/img/people.svg);
    --note-icon-25: url(/img/author.svg);
    --note-icon-26: url(/img/shadowing.svg);
    --note-icon-27: url(/img/stuff.svg);
    --note-icon-webSurfing: url(/img/web-surfing.svg);
    --note-icon-29: url(/img/work.svg);
    --note-icon-30: url(/img/youtube.svg);
    --note-icon-31: url(/img/fleeting.svg);
    --note-icon-32: url(/img/beauty.svg);
    --note-icon-33: url(/img/chores.svg);
    --note-icon-34: url(/img/daily-drawing.svg);
    --note-icon-35: url(/img/daily-routine.svg);
    --note-icon-36: url(/img/diary.svg);
    --note-icon-37: url(/img/diet.svg);
    --note-icon-38: url(/img/dreams.svg);
    --note-icon-39: url(/img/drinks.svg);
    --note-icon-40: url(/img/health.svg);
    --note-icon-41: url(/img/meditation.svg);
    --note-icon-42: url(/img/wantsNeeds.svg);
    --note-icon-43: url(/img/todo-list.svg);
    --note-icon-44: url(/img/workout.svg);
    --note-icon-45: url(/img/affirmation.svg);
    --note-icon-46: url(/img/arrangingDesk.svg);
    --note-icon-47: url(/img/bodyScan.svg);
    --note-icon-48: url(/img/brushHair.svg);
    --note-icon-49: url(/img/cleaningHouse.svg);
    --note-icon-50: url(/img/coffee.svg);
    --note-icon-51: url(/img/eveningSkincare.svg);
    --note-icon-52: url(/img/eyeDrop.svg);
    --note-icon-53: url(/img/eyeRelief.svg);
    --note-icon-54: url(/img/facialMask.svg);
    --note-icon-55: url(/img/floss.svg);
    --note-icon-56: url(/img/footCare.svg);
    --note-icon-57: url(/img/gratitude.svg);
    --note-icon-58: url(/img/morningSkincare.svg);
    --note-icon-59: url(/img/mToQueen.svg);
    --note-icon-60: url(/img/nails.svg);
    --note-icon-61: url(/img/omega3.svg);
    --note-icon-62: url(/img/pantotin.svg);
    --note-icon-63: url(/img/probiotics.svg);
    --note-icon-64: url(/img/sleep.svg);
    --note-icon-65: url(/img/snack.svg);
    --note-icon-66: url(/img/stretching.svg);
    --note-icon-67: url(/img/tea.svg);
    --note-icon-68: url(/img/todo-list.svg);
    --note-icon-69: url(/img/visualization.svg);
    --note-icon-70: url(/img/vitaminB.svg);
    --note-icon-71: url(/img/vitaminD.svg);
    --note-icon-72: url(/img/washingDishes.svg);
    --note-icon-73: url(/img/water.svg);
    --note-icon-74: url(/img/saving.svg);
    --note-icon-fallback: url(/img/icon.svg);
}

@font-face {
    font-family: "RIDIBatang";
    src: url("./Utilities/Fonts/RIDIBatang.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="moon"]::before,
body.filetree-note-icon .filename[data-note-icon="moon"]::before,
body.links-note-icon .internal-link[data-note-icon="moon"]::before,
body.backlinks-note-icon .backlink[data-note-icon="moon"]::before {
    background-image: url(/img/moon.svg);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="webSurfing"]::before,
body.filetree-note-icon .filename[data-note-icon="webSurfing"]::before,
body.links-note-icon .internal-link[data-note-icon="webSurfing"]::before,
body.backlinks-note-icon .backlink[data-note-icon="webSurfing"]::before {
    background-image: url(/img/web-surfing.svg);
}
